<ion-view view-title="火星地产" class="calm-bg">
    <div class="bar bar-header bar-assertive item-input-inset">

        <div class="button button-clear icon-right ion-android-arrow-dropdown">广州</div>

        <label class="item-input-wrapper">
            <i class="icon ion-search"></i>
            <input type="text" placeholder="searching.......">

        </label>
        <div class="button button-clear">搜索</div>

    </div>

    <ion-nav-buttons side="right">

        <a class="button button-icon ion-paper-airplane" ui-sref="#">地图</a>
    </ion-nav-buttons>
    <ion-nav-buttons side="left">

        <a class="button button-icon ion-android-arrow-dropdown" ui-sref="#">广州</a>
    </ion-nav-buttons>


    <!--hide-back-button="true"隐藏后退按钮-->
    <ion-content>

        <!--<p>这是首页</p>-->
        {{messages}}
        <!--<a class="button button-assertive" href="#tabs/detail">查看商品详情页面</a>-->
        <!--<a class="button button-assertive" href="#tabs/about">查看关于我们</a>-->
    </ion-content>



</ion-view>